<script type="text/javascript">
    $(document).ready(function() {
        $('#resource_data_table').DataTable( );
    } );
</script>

<div id="resources_display_div">
<h1> Subscription table </h1>
<input hidden id=resourcetype value="subscription">
    <table id="resource_data_table" class="display">
       <thead>
           <tr>
               <th> Id </th>
               <th> Title </th>
               <th> issn </th>
               <th> ean </th>
               <th> Publishercode</th>
               <th> Numbering pattern</th>
               <th> nbofuser</th>
               <th> exportemail</th>
               <th> Action</th>
           </tr>
       </thead>
       <tfoot>
           <tr>
               <th> id </th>
               <th> title </th>
               <th> issn </th>
               <th> ean </th>
               <th> publishercode</th>
               <th> nbofuser</th>
               <th> Numbering pattern</th>
               <th> exportemail</th>
               <th> Action</th>
           </tr>
       </tfoot>

       <tbody>
             [% FOREACH resource IN resources %]

           <tr id="row[% resource.id %]">
               <td class=id>[% resource.id %] </td>
               <td class=title> [% resource.title %] </td>
               <td class=issn> [% resource.issn %] </td>
               <td class=ean> [% resource.ean %] </td>
               <td class=publishercode> [% resource.publishercode %] </td>
               <td class=numberingmethod> [% resource.numberingmethod %] </td>
               <td class=resource.nbofusers> [% resource.nbofusers %] </td>
               <td class=resource.exportemail> [% resource.exportemail %] </td>
               <td> <button class=delete> Delete </button> <br>
                    <button class=show> Show More </button> </td>
            </tr>
         [% END %]
       </tbody>
     </table>
         [% INCLUDE 'Resource/details-modal.tt' %]
</div>
